{% assign lang = include.language | default: page.lang | default: 'en' %}
{% assign translations = site.data.content[lang] %}

{% if translations.header.header-exist %}
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ translations.about.about-title }}</h2>
                <hr class="light">
                <p class="text-faded">{{ translations.about.about-content }}
                </p>
            </div>
        </div>
    </div>
</section>
{% endif %}