{% assign lang = include.language | default: page.lang | default: 'en' %}
{% assign translations = site.data.content[lang] %}

{% if translations.header-section.header-exist %}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="{{ translations.nav-image-light | prepend: site.baseurl | prepend: site.url }}"
                 style="object-fit: contain; width: 100%; max-width: 2000vw; height: auto; margin-bottom: 0vw;">
            <hr>
            <p>{{ translations.header-section.header-content }}</p>
            <a href="#form" class="btn btn-primary btn-xl page-scroll">
                {{ translations.header-section.header-button }}
            </a>
        </div>
    </div>
</header>
{% endif %}