<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- First Line: Logo & Toggler -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <img id="nav-logo" src="{{ site.data.content[page.lang].nav-image-light | replace: '_black', '_white' }}" 
                     style="object-fit: contain; height: 3em; padding-bottom: 1em; position: relative;">
            </a>
            
            <!-- Language Switcher -->
            <div class="language-switcher">
                {% assign current_lang = page.lang | default: 'en' %}
                {% assign available_langs = "en,fr,de" | split: "," %}
                
                {% for lang in available_langs %}
                    {% if site.data.content[lang] %}  <!-- Check if translation exists -->
                        <a href="/{{ lang }}/" 
                           class="{% if current_lang == lang %}active{% endif %}"
                           data-lang="{{ lang }}">
                            {{ lang | upcase }}
                        </a>
                        {% unless forloop.last %}<span class="separator">|</span>{% endunless %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- Navigation Items -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- You'll need to add navigation items to your content.yml -->
                {% if site.data.content[page.lang].nav %}
                    {% for item in site.data.content[page.lang].nav %}
                        <li>
                            <a class="page-scroll" href="#{{ item.url }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    <!-- Default navigation if not specified in content.yml -->
                    <li><a class="page-scroll" href="#about">About</a></li>
                    <li><a class="page-scroll" href="#services">Services</a></li>
                    <li><a class="page-scroll" href="#contact">Contact</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>