 <!-- jQuery -->
 <script src="{{ '/js/jquery.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>

 <!-- Bootstrap Core JavaScript -->
 <script src="{{ '/js/bootstrap.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

<!-- Nav bar change color on scroll -->
 <script src="js/navbar.js"></script>

