{% assign lang = include.language | default: page.lang | default: 'en' %}
{% assign translations = site.data.content[lang] %}

{% if translations.services.web-development.exist %}
<!-- Web development services -->
<section id="webdevelopment">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ translations.services.web-development.title }}</h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    {% assign services = translations.services.web-development.objects %}
    {% assign items_per_row = 3 %}
    {% assign total_items = services.size %}
    {% assign row_modulator = total_items | modulo: items_per_row %}
    {% assign remaining = total_items %}
    {% assign items_counter = 0 %}

    {% assign services_array = services | values %}

    
    <div class="row justify-content-center">
    {% for item in services %}
        {% capture wowcounter %}{{ wowcounter | plus:1 }}{% endcapture %}

        {% for item in services_array %}
        {% assign index = forloop.index0 %}
        {% endfor %}

        {% assign items_left = total_items | minus: index %}

        {% assign remaining = remaining | minus: 1 %}
        {% assign items_counter = items_counter | plus: 1 %}


        {% if remaining < row_modulator %}
          {% if row_modulator == 2 %}
            {% assign col_class = 'col-lg-6 col-md-6' %}
          {% else %}
            {% assign col_class = 'col-lg-12 col-md-12' %}
          {% endif %}
        {% else %}
          {% assign col_class = 'col-lg-4 col-md-4' %}
        {% endif %}
        
        <div class="{{ col_class }} text-center">
          <div class="service-box">
            <i class="{{ item[1].icon }} wow bounceIn text-primary" data-wow-delay=".{{ wowcounter }}s"></i>
            <h3>{{ item[1].title }}</h3>
            <p class="text-muted">{{ item[1].content }}</p>
          </div>
        </div>

        {% assign mod = items_counter | modulo: items_per_row %}
        {% if mod == 0 %}
          </div>
          <div class="row justify-content-center" style="margin-bottom: 10px;">
        {% endif %}
        
    {% endfor %}
    </div>
  </div>
</section>
{% endif %}